<section class=" pt-5 ">
    <div class="bg-light container-fluid ">
        <div class="container pt-4">
            <div class="row ">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/public/images/Capture3.JPG" alt=""/>
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2 text-xanhduong font-dam">QUY ĐỊNH ĐỔI TRẢ</h6>
                            <p class="font-14"> Nông Sản Xanh sẵn sàng hỗ trợ đổi sản phẩm cho bạn trong vòng 15 ngày trên toàn hệ thống.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/public/images/Capture1.JPG" alt="" />
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2  text-xanhduong font-dam">TUYỂN DỤNG TẠI NÔNG SẢN XANH</h6>
                            <p class="font-14"> Nông Sản Xanh đang cần tuyển hơn 500 anh em tại vị trí nhân viên bán hàng tại 118/8 Trần Khắc chân, Phường Tân Định, Quận 1</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/public/images/Capture.JPG"  alt=""/>
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2  text-xanhduong font-dam">KHÁCH HÀNG THÂN THIẾT</h6>
                            <p class="font-14"> Chính sách khách hàng thân thiết của Nông Sản Xanh: khi mua đơn hàng trị giá 5.000.000Đ, quý khách sẽ được cấp ngay thẻ VIP có ưu đãi 10% và 20% khi sinh nhật.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
